{% extends "main/base.html" %}

{% block title %}Add goods - Sneaker Shop{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Add new product</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Size" name="size" required>
        <input type="text" placeholder="Color" name="color" required>
        <input type="text" placeholder="Price" name="price" required>
        <input type="file" placeholder="Add Image" name="image" required>

        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}