<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Указание типа документа и языка страницы -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Динамический заголовок страницы -->
    <title>{% block title %}Sneaker Shop{% endblock %}</title>
    <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
</head>
<body>
    <div class="wrapper">
    <!-- Заголовок страницы -->
    <header class="header">
        <div class="container">
            <!-- Логотип с ссылкой на главную страницу -->
            <h1 class="logo"><a href="{{ url_for('main.index') }}">Sneaker Shop</a></h1>
            <!-- Проверка статуса пользователя -->
            {% if current_user.is_authenticated and current_user.status == 'admin' %}
                <!-- Навигация для администратора -->
                <nav class="nav">
                    <a href="{{ url_for('product.create') }}">Add product</a>
                    <a href="{{ url_for('product.manage') }}">Manage</a>
                    <div class="auth-links">
                        <a href="{{ url_for('user.logout') }}">Logout</a>
                    </div>
                </nav>
            {% elif current_user.is_authenticated and current_user.status == 'user' %}
                <!-- Навигация для обычного пользователя -->
                <nav class="nav">
                    <a href="{{ url_for('cart.view_cart') }}">Cart 🛒</a>
                    <div class="auth-links">
                        <a href="{{ url_for('user.logout') }}">Logout</a>
                    </div>
                </nav>
            {% else %}
                <!-- Ссылки на авторизацию и регистрацию для неавторизованных пользователей -->
                <div class="auth-links">
                    <a href="{{ url_for('user.login') }}">Login</a>
                    <a href="{{ url_for('user.register') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- Включение файла для отображения флеш-сообщений -->
    {% include 'main/_flash.html' %}

    <!-- Основной контент страницы -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Подвал страницы -->
    <footer class="footer">
        <div class="container">
            <!-- Копирайт -->
            <p>&copy; 2024 Sneaker Shop. All Rights Reserved.</p>
        </div>
    </footer>
    </div>
    <!-- Подключение файла со скриптами -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
