{% extends "main/base.html" %}

{% block title %}Home - Sneaker Shop{% endblock %}

{% block content %}
<div class="container">
    <h2 class="section-title">Our Sneakers</h2>
    <div class="product-grid">
        <!-- Цикл для отображения каждого товара из списка `products` -->
        {% for product in products %}
        <div class="product-card">
            <!-- Изображение товара -->
            <img src="{{ url_for('static', filename='upload/' + product.image) }}" alt="{{ product.name }}">
            <!-- Название товара -->
            <h3>{{ product.name }}</h3>
            <!-- Размер, цвет и цена товара -->
            <p>Size: {{ product.size }}</p>
            <p>Color: {{ product.color }}</p>
            <p>Price: {{ product.price }}</p>

            <!-- Блок для администраторов -->
            {% if current_user.is_authenticated and current_user.status == 'admin' %}
                <!-- Ссылки на редактирование и удаление товара -->
                <a href= "{{ url_for('product.detail', id=product.id) }}" class="btn">Show</a>
                <a href= "{{ url_for('product.edit', id=product.id) }}" class="btn">Edit</a>
                <a href= "{{ url_for('product.delete', id=product.id) }}" class="btn">Delete</a>

            <!-- Блок для обычных пользователей -->
            {% elif current_user.is_authenticated and current_user.status == 'user'%}
                <a href= "{{ url_for('product.detail', id=product.id) }}" class="btn">Show</a>
                <!-- Кнопка добавления товара в корзину -->
                <form method="post" action="{{ url_for('cart.add_to_cart', product_id=product.id) }}">
                    <button type="submit" class="btn">Add to Cart</button>
                </form>

            <!-- Блок для неавторизованных пользователей -->
            {% else %}
                 <a href= "{{ url_for('product.detail', id=product.id) }}" class="btn">Show</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
