{% extends "main/base.html" %}

{% block title %}{{ product.name }} - Sneaker Shop{% endblock %}

{% block content %}
<div class="product-detail-container">
    <div class="product-detail">
        <img src="{{ product.image }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>Price: ${{ product.price }}</p>
        <button class="btn add-to-cart" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}">Add to Cart</button>
    </div>
</div>
{% endblock %}
