{% extends "main/base.html" %}

{% block title %}Login - Sneaker Shop{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.email (placeholder='Enter your email')}}
        {{ form.password (placeholder='Enter password')}}
        {{ form.remember }}
        {{ form.submit }}
    </form>
    <p>Don't have an account? <a href="{{ url_for('user.register') }}">Register here</a></p>
</div>
{% endblock %}
